<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.server.entity.Account">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
    </resultMap>
    <select id="selectList" resultMap="userMap">
        select *
        from user
    </select>
    <select id="selectByUsername" resultMap="userMap">
        select *
        from user
        where username = #{username}
    </select>
    <select id="selectByEmail" resultType="com.example.server.entity.Account">
        select *
        from user
        where email = #{email}
    </select>
    <insert id="insert">
        insert into user(id, username, nickname, address, email, phone)
        values (#{user.id}, #{user.username}, #{user.nickname}, #{user.address}, #{user.email}, #{user.phone});
    </insert>
    <update id="resetPasswordByEmail">
        update user set password = #{password} where email = #{email}
    </update>
    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>
</mapper>
